* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}

header {
    width: 100%;
    height: 50px;
    background-color: #B02AFF;
    position: fixed;
    top: 0;
}

.container, main {
    width: 1000px;
    height: 610px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

main article {
    background-color: #51D400;
    height: 250px;
    margin-right: 10px;
    margin-right: 20px;
}

main article:nth-child(1), main article:nth-child(2) {
    width: 44%;
}

main article:nth-child(3) {
    width: 44%;
}

main article:nth-child(4), main article:nth-child(5) {
    width: 21%;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #CCCCCC;
}
