form {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 25px 38px repeat(13, 55px); /* last two cells should be centered */
    grid-row-gap: 15px;
    grid-column-gap: 20px;
}

form > header {
    /* width: 300px; */
    height: 25px;
    grid-column: span 2;
    background-color: tomato;   
}

form > section {
    height: 38px; 
}

form > div {
    
}

.brand {
    
}

.grid-col-1 {
    grid-column: span 1;
    background-color: tomato; 
}

.grid-col-2 {
    grid-column: span 2;
    background-color: tomato; 
}

.grid-row-1 {
    grid-row: span 1;
}

.grid-row-3 {
    grid-row: span 3;
}