* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 25px 38px repeat(13, 55px); /* last two cells should be centered */
    grid-row-gap: 15px;
    grid-column-gap: 20px;
    padding: 60px 100px;
    width: 820px;
}

form > header {
    height: 25px;
    grid-column: span 2;
    background-color: tomato;   
}

header > h1 {
    font-size: 25px;
    font-weight: 400;
}

form > section {
    height: 38px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #938C97 !important; 
}

form > div {
    
}

.brand {
    
}

.grid-col-1 {
    grid-column: span 1;
    background-color: tomato; 
}

.grid-col-2 {
    grid-column: span 2;
    background-color: tomato; 
}

.grid-row-1 {
    grid-row: span 1;
}

.grid-row-3 {
    grid-row: span 3;
}