.current-song {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 5px 10px 0px 20px;    
    margin-bottom: 4px;
    color: #383837;
}


.current-song .album-cover {
    position: absolute;
    left: -130px;
    top: -1px;
    width: 135px;
    height: 135px;
}

.current-song .song-info {
    display: inline-block;
    width: 50%;
    font-size: 20px;
}

.current-song .song-info span, .current-song .song-favourite-control button {
    color: #999;
}

.current-song .song-favourite-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px;
    font-size: 30px;
}