.dialog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #ddd;
    z-index: 1;
    padding: 0 30px;
}

.dialog button {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: #8989e6;
    color: #fff;
    margin: auto 0;
}

.dialog .close-button {
    width: 15px;
    margin: 10px 10px auto auto;
    background-color: transparent;
    color: #383837;
    font-size: 30px;
}