* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

div {
    width: 420px;
}

h1 {
    color: #FF6347;
}

h2 {
    color: #8A2BE2;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman
} 

ol > li {
    color: #ef86ef;
    text-decoration: underline;
}

ol > li:last-child {
    color: black;
}